{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>会員情報の確認</title>
    <link rel="stylesheet" href="{% static 'app/style.css' %}">
</head>
<body>

<h2>会員情報</h2>

<table>
    <tr>
        <th>会員ID</th>
        <td>{{ login_user.user_id }}</td>
    </tr>
    <tr>
        <th>パスワード</th>
        <td>********</td>
    </tr>
    <tr>
        <th>お名前</th>
        <td>{{ login_user.name }}</td>
    </tr>
    <tr>
        <th>ご住所</th>
        <td>{{ login_user.address }}</td>
    </tr>
</table>

<p><a href="{% url 'app:user_update' %}">会員情報を変更する</a></p>

<p><a href="{% url 'app:index' %}">商品検索ページへ</a></p>

</body>
</html>